{% load static %}
<nav>
    <div class="navbar-auth">
        {% if user.is_authenticated %}
            <p class="logged-user">User connected: {{ user|capfirst }}</p>
        {% else %}
            <p class="logged-user">User connected: None</p>
        {% endif %}
    </div>
    <div class="navbar-title">
        {% if user.is_authenticated %}
            <div class="logo">
                <a href="{% url 'flux' %}">
                    <div> 
                        <img class="fit" src="{% static 'images/LR_black.png' %}" />
                    </div>
                </a>
            </div>
        {% else %}
            <div class="logo">
                <div>
                    <a href="{% url 'login' %}">
                        <div class="just"> 
                            <img class="fit" src="{% static 'images/LR_black.png' %}" />
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="navbar-satellites">
            {% if request.get_full_path == "/flux/" %}
                <a href="{% url 'flux' %}" class="active">Flux</a>
            {% else %}
                <a href="{% url 'flux' %}">Flux</a>
            {% endif %}
            
            {% if request.get_full_path == "/own-posts/" %}
                <a href="{% url 'own' %}" class="active">Posts</a>
            {% else %}
                <a href="{% url 'own' %}">Posts</a>
            {% endif %}
            
            {% if request.get_full_path == "/abo/" %}
                <a href="{% url 'abo' %}" class="active">Abonnements</a>
            {% else %}
                <a href="{% url 'abo' %}">Abonnements</a>
            {% endif %}
            
            {% if request.get_full_path == "/" and user.is_authenticated %}
                <a href="{% url 'login' %}" class="active">Se connecter</a>
            {% else %}
                <a href="{% url 'logout' %}">Se déconnecter</a>
            {% endif %}
        </div>
    {% endif %}
</nav>
