
html, body {
    border: 0;
    margin: 10vh 0 0 0;
    box-sizing: content-box;
    height: 100%;
    background-color: rgba(153,181,219,1);
    font-family: arial, helvetica, Verdana, sans-serif;
}

.main-container {
    width: 50%;
    margin: auto;
}

a{
    text-decoration: none;
    margin-right: 1rem;
    color: #fff
}

a:visited {
    color: #fff;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 1rem;
    text-decoration-color: red;

}

nav{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    border-bottom: 1px solid black;
    display: flex;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.navbar-title{
    font-size: .9rem;
    width: 55%;
    text-align: right;
}

nav h1 {
     font-size: 2rem;
     text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0px 0px 3px #fff
}

.logged-user {
    color: white;
    text-align: left;
    margin-left: 1rem;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0px 0px 3px #fff;
}

.navbar-satellites{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* font-size: .4rem; */
}




#create-ticket{
    width: 60vw;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#create-ticket-form{
    display: flex;
    flex-direction: column;
}

#create-ticket-title {
    height: 1rem;
    width: 60vw;
}

#create-ticket-description {
    height: 10rem;
}

.text-center {
    text-align: center;
    margin: auto;
}

.text-align-right {
    text-align: right;
}

.inputs {
    display: flex;
    flex-direction: column;
}

#no_user {
    margin:2vh auto;
    display: flex;
    height: 10vh;
}

#no_user p {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0,0,0);
}

input {
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h3, h4 {
    text-align: center;
}

.log-container{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.log{
    width: 50%;
    margin: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.log input {
    width: 80%;
}

.log:last-child input:last-child {
    position: relative;
    width: 50%;
    left: 40%;

}


.messages {
    background-color: red;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-right: 1.5rem;
    height: 10vh;
    margin: auto;
    text-align: center;
}

#login-button{
    align-self: end;
}

#submit-image-button {
    margin-left: 0;
    align-self: flex-start;
}

#submit-ticket-button {
    align-self: flex-end;
}

#creer-critique-button{
    margin-top: 5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flux{
    display: flex;
    flex-direction: column;
}

.ticket, .review {
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5rem auto;
    padding: 1rem;
    background-color: rgb(200, 181, 219, .25);

}

.review {
    background-color: rgba(255, 231, 183.25)
}

.ticket-header, .review-header {
    background-color: rgba(0, 0, 0, 0.10);
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ticket-footer, .review-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.review-upper-body{
    display: flex;
    flex-direction: row;
}

.review-lower-body{
    border:1px solid black;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: rgb(179, 166, 221, .25);
}


.ticket_left_part, .review_left_part {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.ticket_right_part, .review_right_part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.5rem;
}

.red {
    background-color: rgba(255,0,0,.8)
}

.ticket-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 50%;
    margin: 5rem auto;
    padding: 1rem;
    background-color: rgb(200, 181, 219, .25);
}

form > input {
    position: relative;
    right: 0;
}

.width-100 {
    width: 100%;
}