{% extends 'main.html' %}

{% block content %}
<div class="main-container">
    <div class="width-100">
        <h1 class="page-title">Abonnements</h1>
    </div>

    <div class="search">
        <div>
            <form method="GET" action="">
                <input type="text" name="q" placeholder = "chercher un utilisateur..." />
            </form>
        </div>
        <div>
            {% if res_search == request.user %}
                <p class="text-center"> Vous vous êtes trouvé vous même !! </p>
            {% elif res_search in followeds %}
                <p class="text-center"> Nous avons trouvé {{res_search}}</p>
                <p class="text-center"> Vous suivez déjà {{res_search}}</p>
            {% elif res_search not in followeds and res_search != "nobody" and res_search != None %}
                <p class="text-center">Voulez-vous suivre {{ res_search|capfirst }} ?</p>
                <div class="log-container">
                    <form action="{% url 'abo' %}" method="get">
                        <input type="submit" value="non">
                    </form>
                    <form method="POST" action="">
                        {% csrf_token %}

                        <input type="submit" name="{{res_search}}" value="suivre" />
                    </form>
                </div>
            {% else %}
                {% if res_search == "nobody" %}
                    <div class="blink_me">
                        <p>Found Nobody...</p/>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class='search'>
        {% include 'follow_snippet.html'%}
    </div>
</div>
{%endblock content%}
