{% extends 'main.html' %}

{% block content %}
<div class="main-container">
    <div class="width-100">
        <h1 class="page-title">Demander une critique</h1>
    </div>
    <div class="width-100">
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    </div>
    <div class="width-100">
        <div class="ticket">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}

                {{ticketForm.as_p}}

                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>
    <div>
</div>


{% endblock content %}