{% extends 'main.html' %}

{% block content %}
 <div>
    {% if message %}
        <div class="warning">
            <p>{{message}}</p>
        </div>
    {% endif %}
</div>

<div class="main-container">
    <div class="width-100">
        <h1 class="page-title">Créer une critique</h1>
    </div>
    <div class="width-100">
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    </div>
    <div class="width-100">
        <div class="review">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token%}

                {{reviewForm.as_p}}

                <input type="submit" name"submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}


