{% extends 'main.html' %}

{% block content %}
    {% comment %} <div class="flux-side-panel">
        {% include 'follow_snippet.html' %}
    </div>  {% endcomment %}
    <div class="main-container">
        <div class="width-100">
            <h1 class="page-title">Flux</h1>
            <div class="flux-log-container">
                <div>
                    <form action="{% url 'ticket'%}">
                        {% csrf_token %}
                        <input class="color-ticket" type="submit" value="Demander une critique" />
                    </form>
                </div>
                <div>
                    <form method="POST" action="{% url 'critique'%}">
                        {% csrf_token %}

                        <input class="color-critique" type="submit" name="critique" value="Créer une critique"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="width-100">      
            {% if noitem == True %}
                {% include "empty_snippet.html" %}
            {% endif %}
        </div>
        <div class="width-100">
            {% for obj in all_obj %}
                {% if obj.titre %}
                    <div class="ticket">
                        <div class="ticket-header">
                            {% if request.user == obj.user %}
                                <p>Vous avez demandé une critique</p>
                            {% else %}
                                <p> {{obj.user|capfirst}} a demandé une critique </p>
                                <p class="text-align-right"> {{obj.time_created}} </p>
                            {% endif %}
                        </div>
                        <div class="ticket_left_part">
                            <div class="ticket-tag">
                                <p>Ticket {{obj.id}}</p> 
                            </div>
                            <p>Produit concerné: {{obj.titre}}</p>
                            {% if obj.description %}
                                <p>Description produit: {{obj.description}}</p>
                            {% else %}
                                <p>L'auteur de la demande n'a pas fourni de description</p>
                            {% endif %}
                            <div class="illustration">
                                <p>Illustration:</p> 
                                {% if obj.image %}
                                    <img id="illustration-rappel" src="/media/{{obj.image}}" />
                                {% else %}
                                    <div class="nopic">
                                        <i class="far fa-clipboard"> pas d'illustration </i>
                                    </div>
                                {% endif %}
                            <div>
                        </div>
                        <div class="ticket_right_part">
                            {% if obj.id in already_answered %}
                                <div class="warning">
                                    <p>Ce ticket a déjà reçu une réponse</p>
                                </div>
                            {% else %}
                                <form action="{% url 'answer' obj.id %}">
                                    {% csrf_token %}
                                    <input class="color-critique" id="creer-critique-button" type="submit" value="Répondre" />
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="review">
                        <div class="review-header">
                            <div class="review-header">
                                {% if request.user == obj.user %}
                                    <p>Vous avez publié une critique</p>
                                    {% if obj.ticket %}
                                        <div class="ticket-tag">
                                            <p>Réponse au Ticket {{obj.ticket.id}}</p>
                                        </div>
                                    {% endif %}
                                <br>
                                    <div class="critique-tag">
                                        <p> Critique {{obj.id}}</p>
                                    </div>
                                {% else %}
                                    <p>{{obj.user|capfirst }} a publié une critique</p>
                                    {% if obj.ticket %}
                                        <div class="ticket-tag">
                                            <p>Réponse au Ticket {{obj.ticket.id}}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="text-align-right">{{obj.time_created}}</p>
                        </div>
                        <p> Titre Produit: <b>{{obj.titre_produit}}</b> </p>
                        <p> Type Produit: {{obj.type_produit}}</p>
                        <p> Titre de la critique : "<i>{{obj.titre_critique}}</i>" </p>
                        <div class="review-upper-body">
                            <p>Note - </p>
                            <p>
                                {% for i in obj.note %} 
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="illustration">
                            {% if obj.description_produit %}
                                <p>Description produit: {{ obj.description_produit }}</p>
                            {% else %}
                                <p class="text-center"> L'auteur de la critique n'a pas fourni de description</p>
                            {% endif %}
                        </div>
                        <div class="illustration">
                            {% if obj.description_critique %}
                                <p>Critique argumentée: " <i>{{ obj.description_critique }}</i> "</p>
                            {% else %}
                                <p class="text-center">L'auteur n'a pas argumentè sa critique</p>
                            {% endif %}
                        </div>
                        <div class="illustration">
                            {% if obj.image_produit %}
                                <img src="/media/{{obj.image_produit}}" alt="image_produit" />
                            {% else %}
                                <div class="nopic">
                                 <i class="far fa-clipboard"> pas d'illustration </i>
                                </div>
                            {% endif %}
                        </div>
                        <div class-"middle-body">
                            <p>{{obj.body}}</p>
                        </div>
                        <div class="review-lower-body">
                            {% if obj.ticket %}
                                <div class="color-ticket rappel">
                                    <div>
                                        <h2 class="text-center">Rappel de la demande: </h2> 
                                    </div>
                                    <hr />
                                    <div>
                                        <br>
                                        <div class="ticket-tag">
                                            <p>Ticket {{obj.ticket.id}}</p>
                                        </div>
                                        <p> Auteur:
                                            {% if request.user == obj.ticket.user %}
                                                <b>vous-même</b>
                                            {% else %}
                                                {{ obj.ticket.user|capfirst }}
                                            {% endif %}
                                        </p>
                                        <p>Date: {{obj.ticket.time_created}} </p>
                                        <p>Titre: {{obj.ticket.titre}} </p>
                                        <p>Description: {{obj.ticket.description}}</p>
                                        <div class="illustration">
                                            <p>Illustration:</p> 
                                            {% if obj.ticket.image %}
                                                <img id="illustration-rappel" src="/media/{{obj.ticket.image}}" />
                                            {% else %}
                                                <div class="nopic">
                                                    <i class="far fa-clipboard"> pas d'illustration </i>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p class="text-center">Il n'y pas eu de ticket pour cette critique</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}
