{% extends 'main.html' %}

{% block content %}

<div class="main-container">
    <div class="log-container">
        <div class="log" >
            <form method="POST" action="{% url 'ticket'%}">
                {% csrf_token %}
                <input type="submit" name="register" value="Demander une critique" />
            </form>
        </div>
        <div class="log">
            <form method="POST" action="{% url 'critique'%}">
                {% csrf_token %}
                <input type="submit" name="login" value="Créer une critique"/>
            </form>
        </div>
    </div>
    <div class="flux-container">
        {% if noitem == True %}
            <h1 class="text-center">Il n'y a encore rien à afficher...</h1>
        {% else %}
            {% for obj in all_obj %}
                {% if obj.title %}
                    <div class="ticket">
                        <div class="ticket-header">
                            <p> {{obj.user}} a demandé une critique </p>
                            <p class="text-align-right"> {{obj.time_created}} </p>
                        </div>
                        <div class="ticket_left_part">
                            <p>{{obj.title}}</p>
                            <p>{{obj.description}}</p>
                            <p>{{obj.image}}</p>
                            <img src="{{obj.image}}" alt="ticket picture: {{obj.image}}" />
                        </div>
                        <div class="ticket_right_part">
                            {{obj.time_created}}
                            <form method="POST" action="{% url 'critique' %}">
                                {% csrf_token %}
                                <input id="creer-critique-button" type="submit" value="Créer une critique" />
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="review">
                        <div class="review-header">
                            <p>{{obj.user}} publié une critique</p>
                            <p class="text-align-right">{{obj.time_created}}</p>
                        </div>
                        <div class="review-upper-body">
                            <p>{{obj.headline}} - </p>
                            <p>
                                {% for i in obj.rating %} 
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                        <div class-"middle-body">
                            <p>{{obj.body}}</p>
                        </div>
                        <div class="review-lower-body">
                            <p>Ticket - {{obj.ticket.user}}</p>
                            <p>{{obj.ticket.title}}</p>
                            <img src="{{obj.ticket.image}}" alt="ticket-image" />
                        </div>
                        <div class="review-footer">
                            <input type="submit" value="Modifier" />
                            <input type="submit" value="Supprimer" />
                        </div>
                    </div>
                {% endif%}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content%}}