{% extends 'main.html' %}

{% block content %}

<div class="main-container">
    <div class="width-75">
        <h1 class="text-center page-title">{{ request.user|capfirst }}, voici vos publications !</h1>
    </div>
    <div class="width-75">
        {% if noitem %}
            <div class="messages">
                <p>Vous n'avez encore rien publié... :'(</p>
            </div>
        {% endif %}

        {% for obj in all_posts%}
            {% if obj.titre %}
                <div class="ticket">
                    <div class="ticket-header">
                        <p>Vous avez publié un ticket</p>
                        <p class="text-align-right">{{obj.time_created}}</p>
                        <div class="ticket-tag">
                            <p>Ticket {{obj.id}}</p>
                        </div> 
                    </div>
                    <div class="ticket-body">
                        <p>{{obj.titre}}</p>
                    <div class="illustration">
                        {% if obj.image %}
                            <p>obj {{obj.image}} </p>
                            <img src="/media/{{obj.image}}" alt="image" />
                        {% else %}
                            <div class="nopic">
                                <i class="far fa-clipboard"> pas d'illustration </i>
                            </div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="ticket-footer">
                        <form method="POST" action="">
                            {% csrf_token %}

                            <input type="submit" name="{{obj.id}} ticket" value="modifier" />
                            <input type="submit" name="{{obj.id}} ticket" value="supprimer" />
                        </form>
                    </div>
                </div>
            {% else %}
                <form method="post" action="">
                    {% csrf_token %}
                    
                    <div class="review">
                        <div class="review-header">
                            <div class="review-header">
                                <p>Vous avez publié une critique</p>
                                {% if obj.ticket %}
                                    <div class="ticket-tag">
                                        <p>Réponse au Ticket {{obj.ticket.id}}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <p class="text-align-right">{{obj.time_created}}</p>
                        </div>
                        <p> Type Produit: {{obj.type_produit}}</p>
                        <p> Titre de la critique : "<i>{{obj.titre_critique}}</i>" </p>
                        <div class="review-upper-body">
                            <p>Note - </p>
                            <p>
                                {% for i in obj.note %} 
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="illustration">
                            <p>Illustration:</p>
                            {% if obj.image.produit %}
                                <img src="/media/{{obj.image_produit}}" alt="illustration produit"/>
                            {% else %}
                                <div class="nopic">
                                    <i class="far fa-clipboard"> pas d'illusration </i>
                                </div>
                            {% endif %}
                        </div>
                        <div class-"middle-body">
                            <p>{{obj.body}}</p>
                        </div>
                        <div class="review-lower-body">
                            {% if obj.ticket %}
                                <div class="color-ticket rappel">
                                    <div>
                                        <h2 class="text-center">Rappel de la demande: </h2> 
                                    </div>
                                    <hr />
                                    <div>
                                        <br>
                                        <div class="ticket-tag">
                                            <p>Ticket {{obj.ticket.id}}</p>
                                        </div>
                                        <p> Auteur:
                                            {% if request.user == obj.ticket.user %}
                                                <b>vous-même</b>
                                            {% else %}
                                                {{ ticket.user|capfirst }}
                                            {% endif %}
                                        </p>
                                        <p>Date: {{obj.ticket.time_created}} </p>
                                        <p>Titre: {{obj.ticket.titre}} </p>
                                        <p>Description: {{obj.ticket.description}}</p>
                                        <div class="illustration">
                                            <p>Illustration:</p> 
                                            {% if obj.ticket.image %}
                                                <img id="illustration-rappel" src="/media/{{obj.ticket.image}}" />
                                            {% else %}
                                                <div class="nopic">
                                                    <i class="far fa-clipboard"> pas d'illustration </i>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p class="text-center">Il n'y pas eu de ticket pour cette critique</p>
                            {% endif %}
                        </div>
                        <div class="review-footer">
                            <form method="POST" action="">
                                <input type="submit" name="{{obj.id}} review" value="modifier" />
                                <input type="submit" name="{{obj.id}} review" value="supprimer" />
                            </form>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
</div>

{%endblock content%}


{% comment %} 

<a href="{{request.META.HTTP_REFERRER}}">Retourner</a>

 {% endcomment %}