{% extends 'main.html' %}

{% block content %}

<div class="main-container">
    <h1 class="page-title">Register</h1>
    <div class="register">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="register-form">
                {{ form.as_p }}
                <input id="register-button" type="submit" value="S'inscrire" name="submit" />
            </div>
        </form>
    </div>
    <div id="no_user">
        {% if not_valid %}
            <ul class="messages">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
 

{%endblock content%}
