{% extends 'main.html' %}

{% block content %}
<div class="main-container">
    <div>
        {% if message1 != None %}
            <div class="warning blink">
                <p class="blink_me">{{ message1 }}</p/>
                <p class="blink_me">{{ message2 }}</p/>
            </div>
        {% endif %}
    </div>
    <h1 class="page-title">Inscription</h1>
    <div class="register">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="register-form">
                {{ form.as_p }}
                <input id="register-button" type="submit" value="S'inscrire" name="submit" />
            </div>
        </form>
    </div>
    
</div>
 

{%endblock content%}
