{% extends 'main.html' %}


{% block content %}
<div class="main-container">
    <h1 class="page-title">Modifiez votre critique</h1>
    <div class="review">
        <p>Vous modifiez la critique pour un "<b>{{review.type_produit}}</b>"</p>
        <p>Dont le titre est "<i><b>{{review.titre_produit}}</i></b>"</p>
        <div class="critique-tag">
            <p>Critique {{review.pk}}</p> 
        </div>
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token%}
            {% if reviewForm %}
                {{reviewForm.as_p}}
            {% else %}  
                <p>Something went wrong with the form...</p>
            {% endif %}
            <input type="submit" name="submit" value='envoyer' />
        </form>
    </div>
</div>
{%endblock content%}
